<h2>Just One Herb</h2>
<h4>The herb is:<%= @herb.name %></h4>
<h4>Is the herb watered? <%= @herb.watered %></h4>
<h4><%= link_to 'Back Home', herbs_path %></h4>
<h4>
  <%= link_to 'Delete Herb', delete_herb_path(@herb), method: :delete, data: { confirm: 'Are you sure?' } %>
</h4>
<h4>
  <%= link_to 'Edit Herb', edit_herb_path(@herb) %>
</h4>
